*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.body{
    background: bisque;
}

.header{
    display: flex;
    height: 80px;
    background: maroon;
    color: antiquewhite;
}

.button{
    height: 50px;
    width: 100px;
    background: floralwhite;
    padding: 5px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}