*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

#username, #password, #email, #phone, #firstName, #lastName{
    border-radius: 5px;
    height: 35px;
    width: 300px;
    padding: 5px;
    margin: 8px;
}

#role{
    border-radius: 5px;
    height: 35px;
    width: 300px;
    padding: 5px;
    margin: 5px;
}
.registration_button{
    padding: 5px;
    margin: 5px;
    height: 35px;
    width: 100px;
    background: floralwhite;
    border-radius: 5px;
}
.registration_form{
    margin: 100px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.body{
    background: antiquewhite;
}

.header{
    display: flex;
    height: 80px;
    background: sienna;
    color: white;
}